/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body{
   
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}

:root{
    --button-color:#E02C6D;
    --para-color:#6C6C6C;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1110px;
}
.title{
    font-size: 45px;
    color: rgb(0, 0, 117);
}
/* header */
header{
    width: 100%;
    background-color: #2D25A0;
}
header:hover{
    background-color: var(--button-color);
}
header:hover .header-image>img{
    transform: rotate(30deg);
    transition: 1s ease-in-out;
}
.header-main{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 86px;
}
.header-info .heading{
    color: white;
    font-size: 64px;
    width: 50%;
    margin-bottom: 27px;
}
.button a{
    color: white;
    Padding:10px 24px;
    text-decoration:none;
    background-color: var(--button-color);
}
header:hover .button a{
    background-color: #2D25A0;
}
.header-image{
    padding: 20px;
    transform: rotate(-30deg);
}
.header-info{
    padding: 20px;
}
.header-image img{
    width: 556px;
    height: 456px;
}

/* Players */

.players{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width:330px;
    Height:474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-image img{
    width: 300px;
    height: 256px;  
}
.player .player-info {
    padding-left: 15px;
    padding-right: 15px;
}
.player .player-info p{
    width: 80%;
    color: var(--para-color);
   
}

/* Matches */
.top-matches{
    margin-bottom: 50px;
}

.matches{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap: 20px;
     grid-row-gap: 20px;
}
.match{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
}
.match .schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team img{
    width: 84px;
    height: 84px;
  
}
.schedule h5{
    margin-top: 0;
}
.more{
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.far{
    padding-left: 20px;
}
.fa-circle.active{
    color: var(--button-color);
}
.fa-circle{
    color: var(--button-color);
}
/* Standing */
table{
    width: 100%;
    height: 500px;
}

table,td{
    text-align: center;
    border: 1px solid #e3e5e8;
    border-collapse: collapse;
}
td img{
    width: 24px;
    height: 24px;
}
tr:hover{
    background-color: lightblue;
    color: white;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
}
.footer-info .logo img{
    width: 484px;
    height: 110px;
}
.footer-info .icons{
    margin-top: 20px;
}
.footer-info a{
    text-decoration: none;
}
.fab{
    width: 32px;
    height: 32px;
}
.footer-info p{
    font-size: 18px;
}




/* Media Queries */
/* Mobile Device */

@media only screen and (max-width:688px) {
    /* .container{
        width: 100%;
    } */
    header,.container{
        width: 100%;
    }
    .header-main{
        flex-direction: column;
        align-items: center;
    }
    .header-image{
        width: 300px;
        height: 300px;
        padding: 0;
    }
    .header-image img{
        width: 300px;
        height: 300px;
    }
  
    .container{
        width: 100%;
    }
    .top-players{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .players,.matches{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-info .logo img{
        width: 100%;
    }

  
}


/* Tablet Devices */

@media only screen and (min-width:688px) and (max-width:992px){
       header,.container{
           width: 100%;
       }
       .header-main{
        flex-direction: column;
        align-items: center;
    }
    .header-info .heading{
        width: 100%;
    }
    .header-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }
    .header-image{
        width: 350px;
        height: 300px;
    }
       .header-image img{
           width: 300px;
        height: 350px;
    }
    /* .container{
        width: 100%;
    } */
    .top-players{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
}