/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}

:root{
    --button-color:#E02C6D;
    --para-color:#6C6C6C;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1110px;
}

/* header */
header{
    width: 100%;
    background-color: #2D25A0;
}
header:hover{
    background-color: var(--button-color);
}

.header-main{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 86px;
}
.header-info .heading{
    color: white;
    font-size: 64px;
    width: 50%;
    margin-bottom: 27px;
}
.header-info .button a{
    color: white;
    Padding:10px 24px;
    text-decoration:none;
    background-color: var(--button-color);
}
header:hover .button a{
    background-color: #2D25A0;
}
.header-image{
    padding: 20px;
}
.header-info{
    padding: 20px;
}
.header-image img{
    width: 556px;
    height: 456px;
}

/* Players */

.players{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
    grid-row-gap: 27px;
}
.player{
    width:330px;
    Height:474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-image img{
    width: 300px;
    height: 256px;  
}
.player .player-info {
    padding-left: 15px;
    padding-right: 15px;
}
.player .player-info p{
    width: 80%;
    align-items: flex-start;
}



/* Footer */
footer{
    display: flex;
    justify-content: space-around;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
}
.footer-info .logo img{
    width: 484px;
    height: 110px;
}
.footer-info .icons{
    margin-top: 20px;
}
.footer-info a{
    text-decoration: none;
}
.fab{
    width: 32px;
    height: 32px;
}
.footer-info p{
    font-size: 18px;
}

/*Animation*/
@keyframes change{
    0%{
        background-color: #2D25A0;
    }
    100%{
        background-color: var(--button-color);
    }
}

/* Media Queries */
/* Mobile Device */

@media only screen and (max-width:688px) {
    /* .container{
        width: 100%;
    } */
    header{
        width: 100%;
    }
    .header-main{
        flex-direction: column;
        align-items: center;
    }
    .header-image img{
        width: 100%;
    }
  
    .container{
        width: 100%;
    }
    .top-players{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-info .logo img{
        width: 100%;
    }
    /* .footer-info .logo img{
        width: 90%;
    }
    .header-main{
        flex-direction: column;
        align-items: center;
    }
   
   .players{
       grid-template-columns: repeat(1,1fr);
   } */
}
/* Tablet Devices */

@media only screen and (min-width:688px) and (max-width:992px){
       header{
           width: 100%;
       }
       .header-image img{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-info .logo img{
        width: 90%;
    }
}